/*
    Structure

        body
            form #config_form
                div.section
                    div.section_title
                    div.controls
                    div.r
                div.section

 */

/* Variables */
:root {
    --font: Verdana, sans-serif;
    --fsize: 12px;
    --ssize: calc(var(--fsize) + 2px);
    --color: #336699;
}


/* ------------- #config_form ------------- */

#config_form {
    display: grid;
    grid-template-columns: 12em 20em 1fr;
    font-family: var(--font);
    font-size: var(--fsize);
}

#config_form section {
    grid-column: 1 / -1;
    display: grid;
    grid-template-areas: "h h h"
                         "m m r";
    grid-template-columns: subgrid;
    grid-template-rows: auto auto;
}

#config_form .section_title {
    grid-area: h;
    font-size: var(--ssize);
    font-weight: bold;
    color: #336699;
    padding: 1em 0 0.5em 0;
}

/* Colonne de gauche */
#config_form .l {
    grid-area: l;
}
/* Colonne du milieu */
#config_form .controls {
    grid-area: m;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 2px;
    row-gap: 2px;
    align-items: center;
}
/* Colonne de droite */
#config_form .r {
    grid-area: r;
    width: min-content;
}

/* ** Controls ** */

#config_form input {
    accent-color: var(--color);
}

#config_form input[type="color"] {
    height: 22px;
    width: 22px;
}

#config_form input[type="number"] {
    width: 4em;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: var(--font);
    font-size: var(--fsize);
}

#config_form select {
    width: 9em;
    text-align: center;
    font-family: var(--font);
    font-size: var(--fsize);
}

#config_form fieldset {
    border: none;
    padding: 0px;
}

/* Alignement à droite */
#config_form label {
    justify-self: end;
}
/* Étiquettes de dimension */
label.dim {
    width: 3em;
}
/* Étiquettes de couleur */
label.colorLabel {
    display: inline-block;
    text-align: right;
    width: 3em;
}
/* Boutons de synchronisation */
.SyncBtn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-image: url("../img/sync_off.png");
    cursor: pointer;
}
.SyncBtn.on {
    background-image: url("../img/sync_on.png");
}
/* -------------- help -------------- */

.help_btn {
    width: 14px;
    cursor: help;
}

.help_popover {
    font: normal var(--ssize) var(--font);
    border: 1px solid lightgray;
    padding: 6px;
}

.help_popover dt {
    font-weight: bold;
    padding-top: 3px;
}

.help_title {
    font-weight: bold;
}

/* ------------- preview ------------ */

#preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preview_img.empty {
    cursor: url("../img/cursor_gear32.png") 1 1, cell;
}

#preview_img {
    cursor: zoom-in;
}

/* ----------- preview zoom ---------- */

#preview_popover {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

#preview_popover::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}

