/* Variables */
:root {
	--font: Verdana, sans-serif;
	--fsize: 12px;
	--ssize: calc(var(--fsize) + 2px);
	--color: #336699;
}

dialog.zoom {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 0;
	border: 0;
	background-color: transparent;
	outline: none;
}

dialog.zoom:open {
	display: flex;
	align-items: center;
	justify-content: center;
}

dialog.zoom::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
}

dialog.zoom .close_btn {
	position: fixed;
	top: 16px;
	left: 16px;
	width: 32px;
	height: 32px;
	background-image: url("../img/close_dialog.png");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

.zoomable:not(.empty) {
	cursor: zoom-in;
}

#label img:empty {
	cursor: default;
}

#config_dialog {
	width: 100%;
	height: 100%;
	padding:0;
	margin: 20px;
	border-radius: 10px;
}

/* Introduit pour avoir à gérer le display de #config_dialog */
#config_dialog > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#config_dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

#config_header {
	padding: 10px;
}

#config_title {
	font-family: var(--font), sans-serif;
	font-weight: bold;
	color: var(--color);
}

#configuration {
	flex-grow: 1;
	border: none
}