#config_dialog {

}
#configuration {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 600px;
	height: 600px;
}
#configuration::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(2px);
}

.masked {
	display: none
}