@media print {
	#selected-label, #global-actions, #zoom_dialog, #config_dialog, #print-selector, .print-separator {
		display: none;
	}
	body {
		margin: 0;
		padding: 0;
	}
}

/* Variables */
:root {
	--font: Verdana, sans-serif;
	--fsize: 12px;
	--ssize: calc(var(--fsize) + 2px);
	--color: #336699;
}
/*
 * Styles globaux
 */
body {
	font-family: var(--font);
	font-size: var(--ssize);
}

h2 {
	color: var(--color);
	font-size: 18px;
	font-weight: bold;
}

button {
	appearance: none;
	padding: 4px 8px 5px 8px;
	margin: 6px;
	border: none;
	background-color: gainsboro;
	border-radius: 4px;
}

button:hover {
	cursor: pointer;
	background-color: var(--color);
	color: white;
}
/*
 * Enregistrement courant
 */
#labels {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-left: 10px;
}
#save_label_btn {
	margin-inline: 10px;
	align-self: center;
}
#preview {
	cursor: pointer;
}

#save_label_btn:has(~ div img.empty) {
 visibility: hidden;
}
.uneditable {
	display: none;
}

.label_box {
	height: max-content;
	width: max-content;
	padding: 4px 4px 1px 4px;
	border-radius: 4px;
}

.label_box:has(> .label.valid) {
	outline: 2px solid green;
}
.label_box:has(> .label.invalid) {
	outline: 2px solid red;
}
.label_box img {
	margin: 0;
	padding: 0
}

img.invalid{
	filter: grayscale(50%) blur(1px);
}

/* Tentative de faire pulser le bouton si invalide */

.pulsing {
	animation: pulse 2s infinite;
	box-shadow: 0 0 0 rgba(0, 123, 255, 0.4); /* Adjust the color here */
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 123, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
	}
}

/*
 * Boîte de dialogue de configuration
 */
#config_dialog {
	width: 100%;
	height: 100%;
	padding:0;
	margin: 20px;
	border-radius: 10px;
}

/* Introduit pour ne pas avoir à gérer le display flex/none  */
#config_dialog > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#config_dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

#config_header {
	padding: 10px;
}

#config_title {
	font-family: var(--font), sans-serif;
	font-weight: bold;
	color: var(--color);
}

#configuration {
	flex-grow: 1;
	border: none
}

/*
 * Impression
 */

#print-selector {
	border-bottom: var(--color) 1px solid;
	margin-bottom: 10px;
}


#print-number, #print-offset {
	width: 3em;
	text-align: center;
}

.print-sheet:not(:last-of-type) {
	padding-bottom : 5mm;
	border-bottom: red 1px dashed;
	margin-bottom: 5mm;
}

.print-label {
	border: dotted gray 1px;
	width: 100%;
}

@media print {
	.print-label {
		/* Mettre none en production */
		border:none;
	}

	.print-sheet:not(:last-of-type) {
		border: none;
		padding: 0;
		margin: 0;
	}
}