dialog.zoom {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

dialog.zoom:open {
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog.zoom::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

dialog.zoom .zoom_close_btn {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    background-image: url("../img/close_dialog.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.zoomable:not(.empty) {
    cursor: zoom-in;
}